.error {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #545050;
}

.error__title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;

}
