.menu_list {
    list-style: circle;
    display: flex;
    gap: 26px;
}

.header {
    height: 293px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
}

.item_list {
    text-decoration: underline;
}

.f1 {
    list-style: none;
}

.item_list_activate {
    text-decoration: none;
}

.menu {
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    margin: 133px 0 138px 50px;}

.contacts {
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
    justify-self: end;
    width: 240px;
    margin: 95px 50px 100px;
    border: 1px solid #000000;
}

.logo {
    width: 135px;
    height: 105px;
    opacity: 1;
}

.namber {
    color: #000000;
    display: block;
    text-decoration: underline;
}

.mail {
    color: #000000;
    display: block;
    text-decoration: underline;
}

.cover {
    height: 757px;
    background-image: url(../images/cover.jpg);
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    margin-bottom: 180px;
    position: relative;
}

.title_main {
    width: 1000px;
    height: 550px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    letter-spacing: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin: 0px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.span_left {
    margin-top: 165px;
    display: block;
    align-self: flex-start;
    letter-spacing: 0.3em;
}

.span_center {
    display: block;
    align-self: center;
    letter-spacing: 0.3em;
}

.span_right {
    display: block;
    align-self: flex-end;
    letter-spacing: 0.3em;
}

.description {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 106px auto 50px;
    height: 51px;
}

.button {
    font-family: Raleway;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 12px 32px;
    cursor: pointer;
}

.subline {
    width: 637px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: white;
    height: 28px;
    word-spacing: 15px;
}

.lots {
    width: 1100px;
    margin: 0 auto 120px;
    padding: 0 50px;
}

.title {
    font-family: Raleway;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 27px;
    margin-left: 40px;
}

.frames {
    display: flex;
    gap: 25px;
    list-style: none;
    margin-bottom: 30px;
}

.frame-1,
.frame-2,
.frame-3 {
    width: 334px;
    min-height: 563px;
    flex-grow: 1;
}

.lot-1,
.lot-2,
.lot-3 {
    display: block;
    height: 100%;
    text-decoration: none;
}

.lot-1 article,
.lot-2 article,
.lot-3 article {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.lot-1 article {
    background-image: url(../images/card-lot-01.jpg);
}

.lot-2 article {
    background-image: url(../images/card-lot-02.jpg);
}

.lot-3 article {
    background-image: url(../images/card-lot-03.jpg);
}

.lot-1 article::before,
.lot-2 article::before,
.lot-3 article::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.card_title {
    position: relative;
    z-index: 2;
    font-family: Raleway;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-decoration: underline;
    text-transform: uppercase;
    color: white;
}

.card_text {
    position: relative;
    z-index: 2;
    font-family: Raleway;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: white;
}

.more {
    font-family: Raleway;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    text-decoration: underline;
    color: #000;
    margin-left: 40px;
    display: inline-block;
}

.about {
    width: 1100px;
    display: grid;
    grid-template-columns: 430px 1fr;
    gap: 25px;
    margin: 0 auto 180px;
    padding: 0 50px;
}

.logo_column {
    display: flex;
    justify-content: center;
}

.about__logo {
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about_column {
    padding-top: 100px;
}

.about_ayction {
    font-family: Raleway;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.description-block {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.about__text {
    font-family: Raleway;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #000;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    height: 180px;
    width: 1100px;
    margin: 0 auto;
}

.footer .contacts {
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
    font-style: normal;
    width: 240px;
}

.footer .contacts address {
    font-style: normal;
}

.footer .namber,
.footer .mail {
    color: #000000;
    display: block;
    text-decoration: underline;
    margin-bottom: 10px;
}

.footer .street {
    color: #000000;
}

.footer__menu {
    justify-self: center;
}

.footer__menu-list {
    list-style: none;
    text-align: center;
}

.footer__menu-list-item {
    margin-bottom: 10px;
}

.footer__menu-link {
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    text-decoration: underline;
    color: #000000;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    list-style: none;
    display: flex;
    gap: 48px;
    justify-self: end;
}

.footer__social-list-item {
    width: 48px;
    height: 48px;
}

.footer__social-link {
    display: block;
    width: 100%;
    height: 100%;
}

.footer__social-icon {
    width: 100%;
    height: 100%;
}

.contacts2 {
    font-family: Raleway;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 24.3px;
    width: 240px;
    border: 1px solid #000000;
}